@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans" ,sans-serif;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f0f8fd;
}

.main-page {
  width: 100%;
  height: 100vh;
  display: none;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
}

.left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #1aa1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem;
  color: #fff;
}

.left-content i {
  font-size: 3rem;
  margin-right: 2rem;
}

.left-content-heading {
  font-size: 2rem;
}

.right {
  grid-column: 2 /-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
}

.right-content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.right-content-form input {
  width: 20rem;
  height: 4.5rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border: .1rem solid #ddd;
  border-radius: .5rem;
  background-color: #fff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.right-content-form input:focus {
  background-color: #d9ebf7;
  outline: none;
}

.right-content-form div {
  position: relative;
}

.right-content-form label {
  position: absolute;
  top: 5.5rem;
  left: 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: #a7a6a6;
}

.btn-top {
  width: 8rem;
  background-color: #fff;
  color: #1aa1f5;
  border: .1rem solid #1aa1f5;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-top:hover {
  background-color: #d9ebf7;
}

.middle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.middle-content i {
  font-size: 4rem;
  color: #1aa1f5;
  margin-bottom: 2rem;
}

.middle-content h1 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  line-height: 4rem;
}

.middle-content h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.middle-content button {
  margin: .8rem 0;
  padding: .5rem;
  border: .1rem solid #1aa1f5;
  border-radius: 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.sign-up {
  background-color: #1aa1f5;
  color: #fff;
}

.sign-up:hover {
  background-color: #0f5d8d;
}

.log-in {
  background-color: #fff;
}

.log-in:hover {
  background-color: #d9ebf7;
}

.main-page-footer {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background-color: #f5f4f4;
  padding: 1.5rem;
  border-top: .1rem solid #ddd;
}

.main-page-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.main-page-footer a {
  font-size: 1.6rem;
  margin: 0 2rem;
  text-decoration: none;
  color: #444;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */